.header {
    padding: 30px 0;
    background-color: #E1EDE6;
}

.header-all {
    display: flex;
	justify-content: space-between;
	align-items: center;
}


.header-logo {
    display: flex;

    align-items: center;
    gap: 6px;
    color: #598D66;
    font-size: 20px;
    font-weight: bold;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 60px;
}

.header-nav a {
    transition: 0.2s;
}

.header-nav a:hover {
    color: var(--hover-green);
}

@media (max-width: 768px) {
    .header-nav {
        font-size: 18px;
    }
}